@media screen and (max-width: 1276px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar::before{
        height: 162px;
    }

    #Home{
        height: 338px;
    }

    #Home::before{
        height: 500px;
    }

    #Home h2{
        font-size: 2rem;
    }

    #Home p{
        font-size: 20px;
    }

    #boxes{
        flex-direction: column;
    }

    #Services{
        height: 121vh;
    }

    #Clients::before{
        height: 583px;
    }
}